<nav class="navbar navbar-expand-sm navbar-light fixed-top navbar-transparente">
  <a href='/anhangueraeventos/homepage'>{{>_logo50px}}</a>
  <a class="navbar-brand" href="#">{{nome}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/anhangueraeventos/gerenciaDeAtividades">Atividades<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/anhangueraeventos/gerenciaMinistrantes"> Ministrantes </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/anhangueraeventos/gerenciaCupons">Cupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/anhangueraeventos/listarUsuarios"> Participantes </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/anhangueraeventos/homepage"> Sair </a>
      </li>  

      <!--li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">usuarios cadastrados</a>
      </li-->

    </ul>
    <!--
      <form class="form-inline">
      <input type="text" class="form-control" placeholder="Pesquisar...">
      <button class="btn btn-outline-success">OK</button>
      </form>
    -->

  </div>

</nav><br><br><br>