<div id="confCadastro">	
			<nav>
				<div>
					<h2>CADASTRE-SE</h2>
						{{#each erros}}
							<div class="alert alert-danger">{{texto}}</div>
							{{else}}
						{{/each}}
					<form align-left="30px" action= "/anhangueraeventos/addAdm" method = "POST">
						
							Nome:<br>
							<input type="text" name = "nome"><br>
							<!--E-Mail:<br-->
							<!---input type="text" name = ""><br>-->
							E-mail:<br>
							<input type="text" name="email"><br>
							<!--Confirme o seu E-mail:<br>
							<input type="text" name="E-mail"><br><br><br-->
							Senha:<br>
							<input type="password"><br>
							Confirme o sua Senha:<br>
							<input type="password" name = "senha"><br><br><br>
									
							Estado:<br>
							<select name = "estado">
							<option value="N">Selecione o estado</option>	
							<option value="RJ">Rio de Janeiro</option>
							<option value="SP">São Paulo</option>
							<option value="PI">Piauí</option>
							</select><br><br><br>
	
							<!--Observações:<br-->
							<!--textarea></textarea><br-->
						
							<input type="submit">
						
	
					
					</form>
	
				</div>

			</nav>
			<section>

			</section>

			<footer>
				<!--<div class="rodape">
						Trabalho Final de Engenharida de Software e Programação III<br>
						Alunos: João Vinicius, Matheus Holanda, Bruno Cruz, Claudio, Francisco<br>
						Universidade Estadual do Piaui  
				</div>-->
			</footer>
</div>