			<nav>
				<div>
					<h2>CADASTRE-SE</h2>
					<form align-left="30px" action= "/inicio" method = "POST">
						
							Nome:<br>
							<input type="text" name="name"><br>
							Instituição:<br>
							<input type="text" name="name"><br>
							E-mail:<br>
							<input type="text" name="E-mail"><br>
							Confirme o seu E-mail:<br>
							<input type="text" name="E-mail"><br><br><br>
							Senha:<br>
							<input type="password"><br>
							Confirme o sua Senha:<br>
							<input type="password" ><br><br><br>
									
							Sexo:<br>
							<input type="radio" name="Sexo" value="M">Masculino<br>
							<input type= "radio" name="Sexo" value="F">Femenino<br>
							<input type="radio" name="Sexo" value="O">Outros<br><br><br>
	
							Estado:<br>
							<select>
							<option value="N">Selecione o estado</option>	
							<option volue="RJ">Rio de Janeiro</option>
							<option volue="SP">São Paulo</option>
							<option volue="PI">Piauí</option>
							</select><br><br><br>
	
							Observações:<br>
							<textarea></textarea><br>
						
							<input type="submit">
						
	
					
					</form>
	
				</div>

			</nav>
			<section>

			</section>

			<footer>
				<!--<div class="rodape">
						Trabalho Final de Engenharida de Software e Programação III<br>
						Alunos: João Vinicius, Matheus Holanda, Bruno Cruz, Claudio, Francisco<br>
						Universidade Estadual do Piaui  
				</div>-->
			</footer>