<!--<title>Gerar PDF</title>-->
    <h1>Gerador de Certificado</h1>
{{#each usuarios,ativids}}
<p>
    Certificamos que {{nome}} , pertencente ao CPF {{cpf}} concluiu o curso <br>
    de ___________________ que possui carga horária de ___ horas. <br>
    O curso foi ministrado por _________ no dia ________ em Piripiri, Piaui.
</p>
<p>
    <input type="button" value="IMPRIMIR CERTIFICADO" onclick="funcao_pdf()">
</p>

<script>
    function funcao_pdf(){
        var pegar_dados = document.getElementById('dados').innerHTML;

        var janela = window.open('','','windth=800, heigth=600');
        janela.document.write('<html><head>');
        janela.document.write('<title>PDF</title><head>');
        janela.document.write('<body>');
        janela.document.write(pegar_dados);
        janela.document.write('<body></html>');
        janela.document.close();
        janela.print();

    }
</script>
{{/each}}