
    <div>
        <div class="confCriarEvent">
            
                    <form action = "registroDeEvento" method = "POST">
                     Nome do evento:<br>
                        <input type="text" name = "nomeDoEvento"> 
                        <br> 
                    <!--/form-->
            
                    <!--form-->
                        Participantes esperados:<br>
                                <select name = "participantesEsper">
                                        <option value="Escolher op"> Escolher opçao </option>
                                        <option value="Ate 300 "> Ate 300 participantes </option>
                                        <option value="Entre 300 e 1000 "> Entre 300 e 1000 participantes </option>
                                        <option value="Mais de 1000 "> Mais de 1000 participantes </option>
                                    </select>
                                    <br> <br>
                        
                    <!--/form-->
            
                    <!--form-->
                         Tipo de evento: <br>
                                <select name="tipoEvento">
                                    <option value="Escolher op"> Escolher opçao </option>
                                    <option value="Curso">Curso-Workshop/Palestra</option> 
                                    <option value="Academico">Academico-Seminario/Jornada</option>
                                    <option value="Cientifico">Cientifico-Congresso/Simposio</option>   
                                    <option value="Outro">Outro</option>
                                </select>
                                <br> <br>
            
                        
                    <!--/form-->
            
                    <!--form-->
                             Qual o seu nome:<br>
                                    <input type="nomeAdmistrador"> 
                         
                                    <br>     
                    <!--/form>
            
                    <form-->
                            E-mail do administrado:<br>
                                <input type="emailAdmistrador">
                   
                        <br>
                        <button>Entrar</button>
                    </form>
            
                    
        </div>
    </div>