<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link active">login</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Cadastro</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>
    <div id="confCriarEvent">
        <div>
            
                    <!--<form action = '/anhangueraeventos/addEvento' method = "POST">-->
                     Codigo:<br>
                        <input name = "codigoCupom"> 
                        <br> 
                    <!--/form-->
            
                    <!--form-->
                        Desconto:<br>
                                <select name = "DescontoCupom">
                                        <option value="Escolher op"> Escolher opçao </option>
                                        <option value="0.1 "> 10%  </option>
                                        <option value="0.2 "> 20%  </option>
                                        <option value="0.3 "> 30%  </option>
                                        <option value="0.4 "> 40%  </option>
                                        <option value="0.5 "> 50%  </option>
                                        <option value="0.6 "> 60%  </option>
                                        <option value="0.7 "> 70%  </option>
                                        <option value="0.8 "> 80%  </option>
                                    </select>
                                    <br> <br>
                        
                    <!--/form-->
            
                    <!--form-->
                             Quantidade de Cupons:<br>
                                    <input type="quantidade"> 
                         
                                    <br>     
                    <!--/form>
            
                    <form-->
                        <button>Salvar Cupom</button>
                        <br> <br>
                    </form>
            
                    
        </div>
    </div>