<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link active">login</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Cadastro</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Sair</a>
        </li>
    </ul>
</nav><br>
    <div class="form-grup">
                     <!--<form action = '/anhangueraeventos/addEvento' method = "POST">-->
        <div>
            <label for="codigo">Codigo do cupom:</label><br>
            <input class="form-control" name="codigoCupom" placeholder="Nº do cupom"> 
        </div>
                    <!--/form-->
                    
                    <!--form-->
        <div>
            <label for="desconto">Desconto:</label><br>
            <select class="form-control" id="desconto">
                <option value="Escolher op"> Escolha a opção </option>
                <option value="0.1 "> 10%  </option>
                <option value="0.2 "> 20%  </option>
                <option value="0.3 "> 30%  </option>
                <option value="0.4 "> 40%  </option>
                <option value="0.5 "> 50%  </option>
                <option value="0.6 "> 60%  </option>
                <option value="0.7 "> 70%  </option>
                <option value="0.8 "> 80%  </option>
            </select>
        </div>    
                        
                    <!--/form-->

                    <!--form-->
        <div>
            <label for="quantDeCupons">Quantidade de Cupons:</label><br>
            <input class="form-control" type="quantidade">     
        </div><br>    
                    <!--/form-->
                    
        <div>
            <button class="btn btn-outline-secondary btn-tamanhoUnico">Salvar Cupom</button>
        </div>
            
                    
        
    </div>