<form action="">
<div>
    <center>
    <div>
    <span>
        &emsp;
        <label for = "valor"> Valor de inscrição R$: </label>
        <input type = "text" id = "valor">
    </span>

    <span>
        &emsp;
        <label for = "desconto"> Cupons de desconto: </label>
        <input type = "text" id = "desconto">
    </span>
    </div>

    <div>
        <sapn>
            &emsp;
            <label for = "numCont"> Número da conta: </label>
            <input type = "text" id = "desconto">
        </sapn>

        <sapn>
            &emsp;
            <label for = "nomeAgencia"> Nome da agencia: </label>
            <input type = "text" id = "desconto">
        </sapn>

    </div>

    <button> Concluir </button>
    </center>

</div>
</form>