<form action="">
    <div>
        <center>
            <div>
                <span>
                    <br>
                    <br>
                    &emsp;
                    <label for="valor">R$: </label>
                    <input type="text" id="valor" placeholder="Valor de inscrição">
                </span>

                <span>
                    &emsp;
                    <label for="desconto"> Cupons: </label>
                    <input type="number" name="desconto" min="0" max="30" >
                </span>
            </div>

            <div>
                <sapn>
                    &emsp;
                    <label for="numCont"> Conta: </label>
                    <input type="text" id="numCont" placeholder="Nº da conta">
                </sapn>

                <sapn>
                    &emsp;
                    <label for="nomeAgencia"> Agência: </label>
                    <input type="text" id="desconto" placeholder="Nome da agência">
                </sapn>

            </div>

            <div>
                <sapn>
                    &emsp;
                    <label for="cpf"> CPF: </label>
                    <input type="text" id="cpf" placeholder="000-000-000-00">
                </sapn>


                <span>
                    &emsp;
                    Prazo:
                    <input type="datetime-local" name="bdaytime">
                </span>

            </div>
            <br>
            <button>  <a href="RegistraAtividade"> Concluir </a> </button>
        </center>

    </div>
</form>