<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link active">login</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Cadastro</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>
    <div background="imagens/tumblr4.jpg">
        
        <div>
            <a class="link" href='/anhangueraeventos/gerenciaDeAtividades'>Gerenciador de atividades</a><br>
            <!--a class="link" href=''></a><br-->
            <a class="link" href='/usuariosRegistrados'>Usuários cadastrados</a><br>
            <a class="link" href='/progamacao' target="blank">Programação do evento</a><br>
            <!--a class="link" href="">Tabelas</a><br-->
            <br><br>
        </div>
        <section id="conteudo">
        </section>
        <!--script>
            document.querySelectorAll('a').forEach(link => {
                console.log(link);
                const conteudo = document.getElementById('conteudo');
                link.onclick = function (e) {
                    console.log('deu certo')
                    e.preventDefault()
                    fetch(link.href)
                    .then(resp=>resp.text())
                    .then(html=>conteudo.innerHTML=html)
                }
            })
        </script>
        <footer>

        </footer-->
    </div>
