
<div>
        <nav>
            <span id="confIndex" >
                <a href="https://www.uespi.br/site/"><img src="imagens/logo.PNG" alt="Uespi" width="300px"></a><br><br>
                <button class="btn btn-outline-secondary btn-block data-toggle="button" "> <a class="link"href='/loginUser'> Login </a> </button>
                <button class="btn btn-outline-secondary btn-block"> <a class="link" href='/cadastroUser'> Cadastro </a> </button>
                <br>
            </span>
                <div class="footer">
                        Trabalho Final de Engenharida de Software e Programação III<br>
                        Discentes: João Vinicius, Matheus Holanda, Bruno Cruz, Claudio, Francisco<br>
                        Universidade Estadual do Piauí  
                </div>
        </nav>
        <footer>
               
        </footer>
</div>