
<div>
        <nav>
            <span class="confIndex" ><br>
                <a href="https://www.uespi.br/site/"><img src="imagens/logo.PNG" alt="Uespi" width="300px"></a><br><br>
                <button> <a class="link" href='/loginUser'> Login </a> </button>
                <br><br>
                <button> <a class="link" href='/cadastroUser'> Cadastro </a> </button>
                <br>
            </span>
            
        </nav>
        <footer>
                <div class="Rodape">
                        Trabalho Final de Engenharida de Software e Programação III<br>
                        Alunos: João Vinicius, Matheus Holanda, Bruno Cruz, Claudio, Francisco<br>
                        Universidade Estadual do Piaui  
                </div>
        </footer>
</div>