<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-12 col-md-7 col-lg-8 m-auto">
                <div>
                    <center>
                        {{>_logo250px}}
                    </center>

                    <center class="espaco01">
                        Trabalho Final de Engenharida de Software e Programação III<br>
                        Alunos: João Vinicius, Matheus Holanda, Bruno Cruz, Claudio Henrique, Francisco Ribeiro<br>
                        Universidade Estadual do Piauí - UESPI
                    </center>
                    <br>
                    <br>
                    
                </div>

            </div>

            <div class="col-xs-8 col-sm-8 col-md-5 col-lg-4 m-auto fundo espaco01 formAdmLogin" >
                <form action="/authen" method="POST" class="form-grup">

                    <div>
                        <div>
                            <label for="e-mail">E-mail:</label><br>
                            <input class="form-control" type="text" name="email" id="e-mail"
                                placeholder="Digite seu e-mail">
                        </div>
                        <div>
                            <label for="senha">Senha:</label><br>
                            <input class="form-control" type="password" name="senha" placeholder="Digite sua senha">
                        </div>
                    </div>

                    <center>
                        <div>
                            <br>
                            <button class="btn btn-outline-secondary "> Entrar </button>
                            <br><br>
                        </div>
                        Não tem uma conta?<a href='/cadastroAdm'> Cadastre-se </a>
                    </center>
                </form>
            </div>

        </div>
    </div>
    <div class="container footer-pag-com-cont espaco">
        <div class="row">
            <div class="col-md-12 m-auto">
                <div>
                    <center>
                        <div class="espaco01">
                            {{>_logos}}
                        </div>
                    </center>
                    <center>
                        {{>_footer1}}
                    </center>
                </div>
            </div>
        </div>
    </div>

</div>