<div class="mt-5 formatacao">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 m-auto">
                    <div id="img">
                        <center>
                            {{>_logo250px}}
                        </center>
                        <br>
                        <center>
                            Trabalho Final de Engenharida de Software e Programação III<br>
                            Alunos: João Vinicius, Matheus Holanda, Bruno Cruz, Claudio Henrique, Francisco Ribeiro<br>
                            Universidade Estadual do Piauí - UESPI
                        </center>
                        <br>
                        <br>
                        <center>
                            {{>_logos}}
                        </center>
                    </div>
                    <div>
                        {{>_footer1}}
                    </div>
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-6 ml-auto">
                    <form id="Form" action="/anhangueraeventos/login" method="POST" class="form-grup">

                        <div>
                            <div>
                                <label for="e-mail">E-mail:</label><br>
                                <input class="form-control" type="text" name="email" id="e-mail"
                                    placeholder="Digite seu e-mail">
                            </div>
                            <div>
                                <label for="senha">Senha:</label><br>
                                <input class="form-control" type="password" name="senha" placeholder="Digite sua senha">
                            </div>
                        </div>

                        <center>
                            <div>
                                <br>
                                <button class="btn btn-outline-secondary "> Entrar </button>
                                <br><br>
                            </div>
                            Não tem uma conta?<a href='/anhangueraeventos/cadastroAdm'> Cadastre-se </a>
                        </center>
                    </form>



                </div>

            </div>