<div class="mt-5 formatacao">
    <center>
    <div class="m-auto">
        {{>_logo250px}}

        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div>
                        <div>
                            <div>
                                <a href='login' class="fundo"><label class="btn btn-outline-secondary "
                                        for="participante">Adiministrador</label></a>
                            </div>
                        </div>

                        <div>
                            <div>
                                <div>
                                    <a href='loginUser'><label class="btn btn-outline-secondary "
                                            for="participante">Participante</label></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <center>
            {{>_footer1}}
        </center>

        <center>
            {{>_logos}}
        </center>
    </div>
    </center>
</div>