<div class="mt-5 ">
    <center>
        <div class="m-auto">
            {{>_logo250px}}
<h1>Bem-Vindos</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto fundo">
                        <br>
                        <div>
                            <label for="adm">Crie uma conta de administrar para criar e gerenciar um evento</label><br>
                            <a href='/login'><label class="btn btn-outline-secondary "
                                    for="participante">Adiministrador</label></a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 m-auto fundo">
                        <br>
                        <div>
                            <label for="user"> Participe de eventos disponiveis com um conta de participante</label><br>
                            <a href='/loginUser'><label class="btn btn-outline-secondary "
                                    for="participante">Participante</label></a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>

        {{>_logos}}
        {{>_footer1}}

    </center>
</div>