{{>_navbar}}
<div><br>

    <div>
        
             <a class="link"href="criarEvento.html"><button class="btn btn-outline-secondary btn-tamanhoUnico">Adicionar Evento </button></a>

    </div>

    <footer>
    </footer>

</div>