<div class="barraDeNavegacao">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px"> 
    <span></span>
    <span></span>
</div>
<div>

    <div>
        
            <button> <a  class="link"href="criarEvento.html"> Adicionar Evento </a> </button>

    </div>

    <footer>
    </footer>

</div>