<br><br>
<div class="form-grup">
    <form id="cad" method="post" action="#" required>
        <center>
            <img src="imagens/logo.png" width="200px"><br><br>
        </center>
        
        <label for="e-mail1">E-mail:</label><br>  
        <input class="form-control" type="email" name="txtEmail" maxlength="50" id="email1" placeholder="nome@email.com" required />
            
        <label for="senha">Senha:</label><br>
        <input class="form-control" type="password" id="senha" required maxlength="20" /> <br>
            
        <button class="btn btn-outline-secondary " type="button" id="btn1" onclick='javascript: validarFormulario()'>Cadastrar</button>
    </form>

    <script>
        function vazio(campo, nome) {
        if (campo.value.length >0) return false;
        alert("O conteúdo do campo '" + nome
            + " Não pode ser vazio"
                + " Por favor, preencha-o corretamente.");
        return true;
    }
    function validarFormulario() {
        var cad = document.getElementById('cad');
        if (vazio(cad.txtEmail, 'E-mail')) return;
        if (vazio(cad.txtsenha, 'Senha')) return;

        cad.submit();
    }
    </script>
</div>
