<div class="mt-5">
    <form action = "/anhangueraeventos/verificarDados" method = "POST">
        <center>
            
            {{>_logo20px}}
            
            <div class="margem">
                <span>
                    E-mail:
		            <input type="text" name="login" placeholder="Digite seu e-mail"><br><br>
		            Senha:
		            <input type="password" placeholder="Digite sua senha">
                </span>
            </div>
            
            <div>
                <br><br>
                <button class="btn btn-outline-secondary "> Entrar </button>
                <br><br>
            </div>

            Não tem uma conta?<a href='/anhangueraeventos/cadastroAdm'> Cadastre-se </a>

        </center>
    </form>
</div>




<!--<div> 
        Links <br>
        <a href='CriarEvento'>Criar Evento</a><br>
        <a href='RegistroAtividade'> Cadastrar Atividade </a><br>
        <a href='ListarEventos'>Listar Eventos</a><br>
        <a href='EventoCriado'>Evento Criado</a>
    </div>-->

