
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link active">login</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Cadastro</a>
        </li>
        <li class="nav-item">
             <a href="" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>

<div>
    <form action='/addAtivi', method="POST" >
        <center>
            <tr>
                <td> 
                    <div>
                        <span>
                            &emsp;
                            <label for = "nome: "> Nome da atividade:  </label>
                            <input type = "text" id = "nome" name="nome"> 
                        </span>

                        <span>
                            &emsp;
                            Tipo:
                            <select  name = "tipo" > 
                                <option value="Palestra"> Palestra </option>
                                <option value="Curso"> Curso </option>
                                <option value="Aula"> Aula </option>
                                <option value="Conferencia"> Conferência </option>
                                <option value="Mesa-Redonda"> Mesa-Redonda </option>
                            </select>
                        </span>
                    </div>
                    
                    <div>
                        <span>
                            &emsp;
                            <label for = "ministrar"> Ministrante:  </label>
                            <input type = "text" name = "ministrante">
                        </span>

                        <span>
                            &emsp;                 
                            <label for="appt"> Horário de inicio: </label>
                            <input type="time" id="appt" name="hora" min="01:00" max="23:50" required>
                        </span>
                    </div>

                    <div>
                        <span>
                            &emsp;
                            Data:
                            <input id="date" type="date" name="data">
                        </span>
                            
                        <span>
                            &emsp;
                            Sala:
                            <select  name = "sala" > 
                                <option value="s1">Sala 1</option>
                                <option value="s2">Sala 2</option>
                                <option value="s3">Sala 3</option>
                                <option value="s4">Sala 4</option>
                                <option value="s5">Sala 5</option>
                                <option value="s6">Sala 6</option>
                                <option value="s7">Sala 7</option>
                                <option value="s8">Sala 8</option>
                                <option value="s9">Sala 9</option>
                                <option value="s10">Sala 10</option>
                            </select>
                        </span>

                        <span>
                            &emsp;
                            Carga Horário:
                            <select  name = "ch" >
                                <option value="30">30 Horas</option>
                                <option value="60">60 horas</option>
                                <option value="90">90 horas</option>
                            </select>
                        </span>
                    
                    </div>

                    <div>
                        <span>
                            &emsp;
                            Tipo de inscrição:
                            <select  name = "inscricao" > 
                            <option value="Gratuita">Gratuita</option>
                            <option value="Paga">Paga</option>
                            </select>
                        </span>

                        <span>
                            &emsp;
                            <label for = "max"> Nº máximo de participantes: </label>
                            <input type = "text" name = "maxpar">                    
                        </span>
                    </div>

                    <div>
                        <span>
                            &emsp;
                            <label for = "valor"> Valor de inscrição: </label>
                            <input type = "text" id = "valor">
                        </span>

                        <span>
                            &emsp;
                            <label for = "desconto"> Cupons de desconto: </label>
                            <input type = "text" id = "desconto">
                        </span>
                    </div>
                
                    <div>
                        <button> Concluir </button>
                    </div>

                </td>
            </tr>
        </center>
    </form>
</div>
