<div class="barraDeNavegacao">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px">
</div>

<div>
    <form action='/anhangueraeventos/addAtividade' , method="POST">
        <center>
            <tr>
                <td>
                    <div>
                        <span>
                            &emsp;
                            <label for="nome: "> Atividade: </label>
                            <input type="text" id="nome" name="nome" placeholder="Nome da atividade">
                        </span>

                        <span>
                            &emsp;
                            Tipo:
                            <select name="tipo">
                                <option value="palestra"> Palestra </option>
                                <option value="curso"> Curso </option>
                                <option value="aula"> Aula </option>
                                <option value="conferencia"> Conferência </option>
                                <option value="sesaRedonda"> Mesa-Redonda </option>
                            </select>
                        </span>
                    </div>

                    <div>
                        <span>
                            &emsp;
                            <label for="ministrar"> Ministrante: </label>
                            <input type="text" name="ministrante" placeholder="Nome do ministrante">
                        </span>

                        <span>
                            &emsp;
                            Data:
                            <input id="date" type="date" name="data">
                        </span>
                    </div>
                    <div>

                        <span>
                            &emsp;
                            <label for="appt"> Horário de inicio: </label>
                            <input type="time" id="appt" name="horaInicio" min="01:00" max="23:50" required>
                        </span>

                        <span>
                            &emsp;
                            <label for="appt"> Horário de final: </label>
                            <input type="time" id="appt" name="horaFinal" min="01:00" max="23:50" required>
                        </span>
                    </div>

                    <div>

                        <span>
                            &emsp;
                            Sala:
                            <select name="sala">
                                <option value="s1">--Informe a sala--</option>
                                <option value="s1">Sala 1</option>
                                <option value="s2">Sala 2</option>
                                <option value="s3">Sala 3</option>
                                <option value="s4">Sala 4</option>
                                <option value="s5">Sala 5</option>
                                <option value="s6">Sala 6</option>
                                <option value="s7">Sala 7</option>
                                <option value="s8">Sala 8</option>
                                <option value="s9">Sala 9</option>
                                <option value="s10">Sala 10</option>
                            </select>
                        </span>

                        <span>
                            &emsp;
                            Carga Horário:
                            <select name="ch">
                                <option value="s1">--Informe a CH--</option>
                                <option value="10">10 Horas</option>
                                <option value="20">20 horas</option>
                                <option value="30">30 horas</option>
                                <option value="s1">40 horas</option>
                            </select>
                        </span>

                    </div>

                    <div>
                        <span>
                            &emsp;
                            Tipo de inscrição:
                            <select name="inscricao">
                                <option value="gratuita">Gratuita</option>
                                <option value="paga">Paga</option>
                            </select>
                        </span>

                        <span>
                            &emsp;
                            <label for="quantidade"> Número de participantes: </label>
                            <input type="number" name="quantidade" min="1" max="50">
                        </span>

                    </div>

                    <a href='/dadosBancarios'> Dados Bancarios </a>

                    <div>
                        <button> Concluir </button>
                    </div>

                </td>
            </tr>
        </center>
    </form>
</div>