<div class="barraDeNavegacao">
    <img src="imagens/logo.png" alt="Logo_temporaria" width="50px"> 
    <span></span>
    <span></span>
</div>
<!--div background="imagens/tumblr4.jpg">

    <form action = '/addAtivi', method = "POST">

        Nome da atividade:
        <input type="text", name="nome">

        Tipo de Evento:
        <select name="atividadeTipo">
            <option value="Palesta">Palestra</option>
            <option value="Curso">Curso</option>
            <option value="Aula">Aula</option>
            <option value="Conferencia">Conferencia</option>
            <option value="Mesa-Redonda">Mesa-Redonda</option>
        </select>

        Ministrante:
        <input type="text" name="ministrante">

        <button>Registrar</button>

    </form>
</div-->
<div>

    <form action='/addAtivi', method="POST" >

            <table>
                <div class="confRegAtiv">
                    <tr>
                         <td> 
                            <br>
                            <label for = "nome: "> Nome da atividade:<br>  </label>
                            <input type = "text" id = "nome"> 
                            &emsp;
                            <br>Tipo:<br> 
                            <select  name = "tipo" > 
                                <option value="Palestra">Palestra</option>
                                <option value="Curso">Curso</option>
                                <option value="Aula">Aula</option>
                                <option value="Conferencia">Conferencia</option>
                                <option value="Mesa-Redonda">Mesa-Redonda</option>
                            </select>
                            <br><br>
                            

                            <label for = "ministrar"> Ministrante:<br>  </label>
                            <input type = "text" id = "nome">
                            
                            &emsp;
                            <br>
                            <label for="appt"> Horário de inicio:<br> </label>
                            <input type="time" id="appt" name="appt" min="01:00" max="00:00" required>
                            <br><br>

                            Data:<br> <input id="date" type="date">
                            &emsp;
                            <br>
                            Sala: <br>
                            <select  name = "sala" > 
                                <option value="s1">Sala 1</option>
                                <option value="s2">Sala 2</option>
                                <option value="s3">Sala 3</option>
                                <option value="s4">Sala 4</option>
                                <option value="s5">Sala 5</option>
                                <option value="s6">Sala 6</option>
                                <option value="s7">Sala 7</option>
                                <option value="s8">Sala 8</option>
                                <option value="s9">Sala 9</option>
                                <option value="s10">Sala 10</option>
                            </select>
                            <br><br>

                            <label for = "max"> Número máximo de participantes: <br> </label>
                            <input type = "text" id = "max">
                            <br><br>
                            
                            Carga Horário:<br> 
                            <select  name = "ch" >
                                <option value="ch1">30 Horas</option>
                                <option value="ch2">60 horas</option>
                                <option value="ch3">90 horas</option>
                            </select>

                            &emsp;
                            <br>
                            Inscrição: <br>
                            <select  name = "inscricao" > 
                                <option value="Gratuita">Gratuita</option>
                                <option value="Paga">Paga</option>
                            </select>
                            
                            <br><br>

                        </td>    
                    </tr>
                </div>           
            </table>
    
       
    
    </form>

    <div>
      
            
            <br><br>
            <button> <a class="link" href="EventoCriado.html"> Concluir </a> </button>
            <br><br>
            
        
    </div>

</div>
