<center>
    <h1 class="mt-auto">PACTO COM O ANHANGUERA EVENTOS</h1>
</center>
<div class="container fundoTermosDeUso ">
    <div class="row">
        <div class="col-xs-8 col-sm-12 col-md-12 col-lg-12 m-auto fundo">
            <div class="alinhartexto">
                Termos e condições de uso do Anhangüera Eventos
                Os termos dispostos neste documento são de extrema importância para a utilização de nossos serviços,
                leia com
                cuidado e atenção.
                Bem vindo ao Anhangüera Eventos!
                Agradecemos pela escolha do Anhangüera Eventos. O Anhangüera Eventos dispõe de serviços para criação,
                gerenciamento,
                e participação de eventos de qualquer escala. Fornecemos um acesso personalizado aos serviços de sua
                preferência,
                dependendo do conteúdo de seu evento. Ao utilizar nossos serviços você entra em um vínculo com o
                Anhangüera Eventos,
                podendo assim receber nossos e-mails e notificações sobre o andamento ou ferramentas dos próprios
                eventos.
                Para acessar nossos serviços você promete que qualquer informação utilizada para cadastrar em um de
                nossos
                formulários são verdadeiras, e concorda em mantê-las verídicas em todos os momentos.
                Aproveitando o Anhangüera Eventos
                Nossos serviços fornecem ferramentas de criação de eventos personalizados, especificados pelo local de
                evento
                cadastrado, número de salas e participantes de sua preferência. Fornecemos cadastro de lugares, salas,
                ministrante
                de minicursos, palestrantes, participantes e atividades que ocorrerá no evento que podem ser alterados
                durante a
                etapa de criação e organização do evento.
                Eventos cadastrados
                Os eventos cadastrados possuem suas atividades que podem ser pagas ou gratuitas, as atividades pagas
                podem possuir
                cupons de desconto e os pagamentos são por meio de boletos gerado na conclusão de cadastro de algum
                usuário a algum
                evento.
                Os cupons disponibilizados são limitados a quantidade e validade, fica a critério do criador do evento
                gerenciar a
                porcentagem de desconto.
                Já os boletos serão gerados no momento da conclusão de cadastro em atividades pagas e o usuário só
                concluirá seu
                cadastro quando o nosso sistema detectar o pagamento via boleto.
                O participante e o administrador do evento estarão sujeitos a receber inúmeras notificações dos
                acontecimentos do
                evento, tais como cadastro de participantes, emissão de boletos e certificados e boletos.
                Os certificados serão gerados no final do evento com a confirmação feita pelo ministrante da atividade
                no final da
                mesma.

            </div>

        </div>

    </div>

</div>