<div><br>
    <center>
        <h3 class="btn-light">PÁGINA DO PARTICIPANTE</h3>
    </center>
    <div class="mt-5">
        {{>_logo300px}}
    </div><br>
        
    <nav>
                
        <center>
            <a class="link"href='/anhangueraeventos/loginAdm'><button class="btn btn-outline-secondary btn-tamanhoUnico"> Login </button></a>
            <br>
            <br>
            <a class="link" href='/anhangueraeventos/cadastroAdm'><button class="btn btn-outline-secondary btn-tamanhoUnico"> Cadastro</button></a>
        </center>

    </nav>
</div>
