<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-12 col-md-7 col-lg-8 m-auto">
                <div>
                    <center>
                        {{>_logo250px}}
                    </center>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 m-auto espaco01">
                <form action='/participante/authen'>
                <div>
                    <label for="e-mail">E-mail:</label><br>
                    <input class="form-control" type="text" name="email" id="e-mail" placeholder="Digite seu e-mail">
                </div>

                    <div>
                        <label for="senha">Senha:</label><br>
                        <input class="form-control" type="password" name="senha" placeholder="Digite sua senha">
                    </div>
                    <center>
                        <div>

                        <br>
                            <button class="btn btn-outline-secondary ">Entrar</button><br><br>
                    </form>
                    </div>Não tem uma conta?<a href='/participante/cadastro'> Cadastre-se </a><br><br>
                </center>
            </div>
        </div>
    </div>
</div>

 </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
                {{>_footer1}}
            </div>
        </div>

    </div>