<div class="form-grup formatacao mt-5">
    <form id="cad" method="post" action="#" required>
        <center>
            {{>_logo20px}}
        </center>

        <label for="e-mail1">E-mail:</label><br>
        <input class="form-control" type="email" name="txtEmail" maxlength="50" id="email1" placeholder="Digite seu e-mail"
            required />

        <label for="senha">Senha:</label><br>
        <input class="form-control" type="password" id="senha" placeholder="Digite sua senha" required maxlength="20" /> <br>
        <center>
            <button class="btn btn-outline-secondary " type="button" id="btn1" onclick='javascript: validarFormulario()'>Entrar</button>
            <br><br>
            Não tem uma conta?<a href='/anhangueraeventos/cadastroPar'> Cadastre-se </a>
        </center>
    </form>

    <script>
        function vazio(campo, nome) {
            if (campo.value.length > 0) return false;
            alert("O conteúdo do campo '" + nome
                + " Não pode ser vazio"
                + " Por favor, preencha-o corretamente.");
            return true;
        }
        function validarFormulario() {
            var cad = document.getElementById('cad');
            if (vazio(cad.txtEmail, 'E-mail')) return;
            if (vazio(cad.txtsenha, 'Senha')) return;

            cad.submit();
        }
    </script>
</div>