{{>_navbarUser}}

<br>
<br>
<br>
<div class="mt-5"></div>
<div class="container">
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 m-auto">
            <div class="card mt-2">
                <div class="card-body fundo">
                    <center>
                        <h2>
                            <p> LOGIN USUÁRIO </p>
                        </h2>
                    </center>
                    <div>
                        <div>
                            <label for="e-mail">E-mail:</label><br>
                            <input class="form-control" type="text" name="email" id="e-mail"
                                placeholder="Digite seu e-mail">
                        </div>
                        <div>
                            <label for="senha">Senha:</label><br>
                            <input class="form-control" type="password" name="senha" placeholder="Digite sua senha">
                        </div>
                    </div>

                    <center>
                        <div>
                            <br>
                            <button class="btn btn-outline-secondary "> Entrar </button>
                            <br><br>
                        </div>
                        Não tem uma conta? <a href='/users/formParticipante'> Criar </a>
                    </center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>