<div class="mt-5 formatacao">
    <div>
        <div class="container  fundo">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-1 m-auto ">
                    <div id="img">
                        <center>
                            {{>_logo250px}}
                        </center>
                    </div>
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-5 ml-auto">
                    <div>
                        <br>
                        <center>
                            <h2>
                                LOGIN USUÁRIO
                            </h2>
                        </center>
                        <div>
                            <label for="e-mail">E-mail:</label><br>
                            <input class="form-control" type="text" name="email" id="e-mail"
                                placeholder="Digite seu e-mail">
                        </div>
                        <div>
                            <label for="senha">Senha:</label><br>
                            <input class="form-control" type="password" name="senha" placeholder="Digite sua senha">
                        </div>
                    </div>

                    <center>
                        <div>
                            <br>
                            <button class="btn btn-outline-secondary "> Entrar </button>
                            <br><br>
                        </div>
                        Não tem uma conta?<a href='/users/formParticipante'> Criar </a>
                        <br>
                    </center>

                </div>
            </div>
        </div>
    </div>
</div>