<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-12 col-md-7 col-lg-8 m-auto">
                <div>
                    <center>
                        {{>_logo250px}}
                    </center>
                </div>
            </div>
<<<<<<< HEAD
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 m-auto espaco01">
                <form action='/participante/authen'>
                <div>
                    <label for="e-mail">E-mail:</label><br>
                    <input class="form-control" type="text" name="email" id="e-mail" placeholder="Digite seu e-mail">
                </div>
=======

            <div class="col-xs-8 col-sm-8 col-md-5 col-lg-4 m-auto fundo espaco01 formAdmLogin">
                <form action="/authen" method="POST" class="form-grup">
                    <br>
                    <div>
                        <label for="e-mail">E-mail:</label><br>
                        <input class="form-control" type="text" name="email" id="e-mail"
                            placeholder="Digite seu e-mail">
                    </div>
>>>>>>> 9f777771ae541fe6f570278092e340a7a669bc8c

                    <div>
                        <label for="senha">Senha:</label><br>
                        <input class="form-control" type="password" name="senha" placeholder="Digite sua senha">
                    </div>
                    <center>
                        <div>

<<<<<<< HEAD
                        <br>
                            <button class="btn btn-outline-secondary ">Entrar</button><br><br>
                    </form>
                    </div>Não tem uma conta?<a href='/participante/cadastro'> Cadastre-se </a><br><br>
                </center>
=======
                            <br><a href='/users/listaEventos'>
                                <button class="btn btn-outline-secondary ">
                                    Entrar
                                </button></a><br><br>

                        </div>Não tem uma conta?<a href='/formUser'> Criar </a><br><br>
                    </center>
>>>>>>> 9f777771ae541fe6f570278092e340a7a669bc8c
            </div>
        </div>
    </div>
</div>

 </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
                {{>_footer1}}
            </div>
        </div>

    </div>