{{>_homeNavbar}}

{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<center>
    <h1>Criar Evento</h1>
</center>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-12 col-md-7 col-lg-8 m-auto">
            <div class="card mt-2">
                <div class="card-body fundo">


                    <div-- class="form-grup">

                        <form action='/adicionar/evento/' method="POST"><br>


                            <div>
                                <!--NOME DO EVENTO-->
                                </label for="nomeEvento"> Nome do evento:</label><br>
                                <input name="nome" class="form-control" type="text" id="nome" placeholder="Informe o nome do evento">
                            </div>

                            <!--div>
                                <NÚMERO MÁXIMO DE PARTICIPANTES>
                                <label for="numeroDeParticipantes">Numero de participantes esperados:</label><br>
                                <input class="form-control" type="number" name="participantes_esperados" placeholder="Quantidade de participantes">
                            </div-->

                            <!--div>
                                
                                <label for="quantSalas">Quantidade de salas disponiveis:</label>
                                <input class="form-control" type="number" id="quantSalas" name="quantidade_salas" placeholder="Número de salas">
                            </div-->

                                <!--LOCAL DO EVENTO>
                                <label for="local">Local do Evento:</label><br>
                                <input class="form-control" type="local" name="local_evento"
                                    placeholder="Informe o local do seu evento"-->

                            <div>
                                <!--SELECIONAR A DATA-->
                                <label for="data">Data de inicio:</label>
                                <input class="form-control" id="date" type="date" name="data_inicio">
                            </div>

                            <!--DATA DE TERMINO-->
                            <div>
                                <label for="data">Data de termino:</label>
                                <input class="form-control" id="date" type="date" name="data_termino">
                            </div>

                            <div>
                                <!--GRATUITO OU PAGO-->
                                <label for="eventoTipo">Inscrição:</label>
                                <select class="form-control" name="pago" id="eventoTipo">
                                    <option>--Tipo--</option>
                                    <option value="false">Gratuita</option>
                                    <option value="true">Paga</option>
                                </select>
                            </div>
                            <div>
                                <!--VALOR DA INSCRIÇÃO-->
                                <label for="valorEvento">R$: </label>
                                <input class="form-control" type="number" id="valorEvento" name="valor_evento" placeholder="Valor" disabled>
                            </div>

                            <script>
                                var select = document.getElementById('eventoTipo'),
                                    input = document.getElementById('valorEvento'),
                                    tipo;
                                // CONDIÇÃO PARA DESBLOQUEAR O CAMPO DINHEIRO
                                select.addEventListener('change', function () {
                                    tipo = this.value;
                                    if (tipo == 'true') {
                                        input.removeAttribute('disabled', false);
                                    } else {
                                        input.setAttribute('disabled', false);
                                        input.value = null;
                                    }
                                });
                            </script>
                            <br>

                            <center>
                                <button type="submit" class="btn btn-outline-secondary">Concluir</button>
                            </center>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto footer-pag-sem-cont">
            {{>_footer1}}
        </div>
    </div>
</div>