{{>_navbar}}

<br><br>
<div id="FormulariosAdm">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-20 col-sm-20 col-md-20 col-lg-20 m-auto fundo">

                    {{#each erros}}
                    <div class="alert alert-danger">{{texto}}</div>
                    {{else}}
                    {{/each}}

                    <div class="form-grup">

                        <form action='/anhangueraeventos/addEvento' method="POST"><br>
                            <center>
                                <h1>CRIAÇÃO DE EVENTO</h1><br>
                            </center>

                            <div>
                                <!--NOME DO EVENTO-->
                                </label for="nomeEvento"> Nome do evento:</label><br>
                                <input name="nome" class="form-control" type="text" id="nomeEvento"
                                    placeholder="Informe o nome do evento">
                            </div>

                            <div>
                                <!--NÚMERO MÁXIMO DE PARTICIPANTES-->
                                <label for="numeroDeParticipantes">Numero de participantes esperados:</label><br>
                                <select class="form-control" name="participanteEs">
                                    <option value="Escolher op"> Escolha uma opção </option>
                                    <option value="Ate 300 "> Ate 300 participantes </option>
                                    <option value="Entre 300 e 1000 "> Entre 300 e 1000 participantes </option>
                                    <option value="Mais de 1000 "> Mais de 1000 participantes </option>
                                </select>
                            </div>

                            <div>
                                <!--TIPO DO EVENTO-->
                                <label for="tipoDeEvento">Tipo de evento:</label><br>
                                <select class="form-control" name="tipoEvento">
                                    <option value="Escolher op"> Escolha uma opção </option>
                                    <option value="Curso">Curso-Workshop/Palestra</option>
                                    <option value="Academico">Academico-Seminario/Jornada</option>
                                    <option value="Cientifico">Cientifico-Congresso/Simposio</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>

                            <div>
                                <!--QUANTIDADE DE SALAS-->
                                <label for="quantSalas">Quantidade de salas disponiveis:</label>
                                <input class="form-control" type="number" id="quantSalas" name="quantSalas"
                                    placeholder="Número de salas">
                            </div>

                            <div>
                                <!--NOME ADM-->
                                <label for="nomeAdm">Qual o seu nome:</label><br>
                                <input class="form-control" name="nomeAdm" id="nomeAdm" type="nomeAdmistrador"
                                    placeholder="Nome de administrador">
                            </div>

                            <div>
                                <!--E-MAIL DO ADM-->
                                <label for="emailAdm">E-mail do administrado:</label><br>
                                <input class="form-control" type="emailAdmistrador" name="emailAdm"
                                    placeholder="Informe o e-mail">
                            </div>
                            <div>
                                <!--LOCAL DO EVENTO-->
                                <label for="local">Local do Evento:</label><br>
                                <input class="form-control" type="local" name="local"
                                    placeholder="Informe o local do seu evento">
                                    <!--SELECIONAR A DATA-->
                                <label for="data">Data de inicio:</label>
                                <input class="form-control" id="date" type="date" name="data">
                            </div>

                            <div>
                                <!--GRATUITO OU PAGO-->
                                <label for="eventoTipo">Inscrição:</label>
                                <select class="form-control" name="eventoTipo" id="eventoTipo">
                                    <option>--Tipo--</option>
                                    <option value="Gratuita">Gratuita</option>
                                    <option value="Paga">Paga</option>
                                </select>
                            </div>
                            <div>
                                <!--VALOR DA INSCRIÇÃO-->
                                <label for="valorEvento">R$: </label>
                                <input class="form-control" type="text" id="valorEvento" name="valorEvento"
                                    placeholder="Valor" disabled>
                            </div>

                            <script>
                                var select = document.getElementById('eventoTipo'),
                                    input = document.getElementById('valorEvento'),
                                    tipo;
                                // CONDIÇÃO PARA DESBLOQUEAR O CAMPO DINHEIRO
                                select.addEventListener('change', function () {
                                    tipo = this.value;
                                    if (tipo == 'Paga') {
                                        input.removeAttribute('disabled', false);
                                    } else {
                                        input.setAttribute('disabled', false);
                                        input.value = null;
                                    }
                                });
                            </script>
                            <br>

                            <center>
                                <button type="submit" class="btn btn-outline-secondary">Concluir</button>
                            </center>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-20 col-sm-20 col-md-20 col-lg-20 m-auto">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="" class="btn"><small>©Anhangüera Eventos</small></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>