{{>_navbar}}
<br><center>
    <h1>
        <p> PARTICIPANTES </p>
    </h1>
</center>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">

            <div class="mt-5">

                {{#each listarUsers}}
                <div class="card mt-2">
                    <div class="card-body fundo">

                        <h6>
                            Nome: {{dataValues.nome}}<br>
                            CPF: {{dataValues.cpf}}<br>
                            Email: {{dataValues.email}}
                        </h6>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>

    <div class="row footer-pag-sem-cont mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-auto">
            <a href="" class="btn"><small>©Anhangüera Eventos</small></a>
        </div>
    </div>


</div>