{{>_navbar}}
<div class="mt-5">
    <center>
        <h1>
            <p> PARTICIPANTES </p>
        </h1>
    </center>
    {{#each listarUsers}}
    <div class="card mt-2">
        <div class="card-body fundo">

            <h6>
                Nome: {{nome}}<br>
                CPF: {{cpf}}<br>
                Email: {{email}}
            </h6>

        </div>
    </div>
    {{/each}}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="" class="btn"><small>©Anhangüera Eventos</small></a>
            </div>
        </div>
    </div>
</footer>