{{>_homeNavbar}}
<div class="mt-5">
    <center><h1><b>SOBRE</b></h1></center>
    <div class="card mt-2">
        <div class = " card-body fundo ">
            <a href="/"><img src="/images/logo.png" width="250px"></a>
            <div>
                <label>
                    <b><h3>O nome Anhangüera</h3></b>
                    Anhangüera significa "diabo velho", e foi o apelido dado a Bartolomeu Bueno da Silva, 
                    um aventureiro português, nascido na capitania de São Paulo. 
                    Quando ele desbrava o interior brasileiro, se deparou com alguns índios e os obrigou
                    a mostrar onde poderia encontrar ouro.
                </label>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class = " card-body fundo ">
            <img src="/images/Laranja Mecânica.jpg" width="250px">
            <div>
                <label>
                    <b><h3>Bruno Cruz (Brunete)</h3></b>
                    Bacharenlando em ciência da computação, fã de Rock e emo, Clã dos anões do pé reto.
                </label>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class = " card-body fundo ">
            <img src="/images/Laranja Mecânica.jpg" width="250px">
            <div>
                <label>
                    <b><h3>Claudio Henrique (Claudete)</h3></b>
                    Bacharenlando em ciência da computação, pouco se 
                    sabe sobre essa criatura que não apresenta as amigas, Clã do elfos da floresta.
                </label>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class = " card-body fundo ">
            <img src="/images/Laranja Mecânica.jpg" width="250px">
            <div>
                <label>
                    <b><h3>Francisco Ribeiro (Neko-chan)</h3></b>
                    Bacharenlando em ciência da computação, fã de anime, Rock, velho ranzinza que só sabe
                    reclamar, elfo negro da Guilda Do ladrões.
                </label>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class = " card-body fundo ">
            <img src="/images/Laranja Mecânica.jpg" width="250px">
            <div>
                <label>
                    <b><h3>João Vinicios (Janente)</h3></b>
                    Bacharenlando em ciência da computação, daria pro Escanor, se recusar a tirar copias coloridas para senhoras
                    da terceira idade, do Clã dos orcs fedidos.
                </label>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class = " card-body fundo ">
            <img src="/images/Laranja Mecânica.jpg" width="250px">
            <div>
                <label>
                    <b><h3>Matheus Holanda (TiediCr7 CamelCase)</h3></b>
                    Bacharenlando em ciência da computação, fã de futebol, anão da Guilda Mercante.
                </label>
            </div>
        </div>
    </div>

</div>



